.header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem; 
  font-weight: 400; 
}
.completed {
  text-decoration: line-through;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  border-color: #ccc;
}

.input-field {
  width: 60%;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #607b88;
}

.submit-button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(to bottom right, rgb(173, 229, 255), rgb(106, 222, 252));
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}

.task-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.task-item {
  width: 75.5%;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 6px;
  position: relative;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8); */
}

/* .task-item {
  width: 71%;
  margin-bottom: 10px;
  padding: 10px;
  background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(146, 232, 253));
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 0, 0);
} */

.task-container {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(186, 241, 255));
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 0, 0);
}

.time-container {
  flex: 0 0 auto;
  margin-left: 3px;
}

.task-time {
  font-size: 0.8em;
  color: #888;
}

.delete-button {
  top: 0;
  right: 0; 
  margin-left: auto; /* Push the button to the right end */
  padding: 8px;
  border: none;
  background: rgb(243, 6, 6);
  color: white;
  box-shadow: 0px 0px 5px rgba(83, 82, 82, 0.8);
  opacity: 0.7; /* Set initial opacity */
  transition: opacity 0.3s ease; /* Add transition effect for opacity */
  /* height: 100%; */
}

.delete-button:hover {
  opacity: 1; /* Increase opacity on hover */
}

.done-button {
  margin-left: 10px;
  padding: 8px;
  border: none;
  margin-right: 7px; 
  background: rgb(7, 146, 19);
  color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  opacity: 0.7;
  transition: opacity 0.3s ease;
  /* height: 100%; Set height to match task container's height */
}

.done-button:hover {
  opacity: 1; /* Increase opacity on hover */
}


.buttons-container {
  display: flex;
  height:   ;;
}

.gradient-background {
  background: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(146, 232, 253));
  width: 100%;
  height: 100%; 
  display: flex;
  animation: rotateGradient 5s linear infinite;
}

.task-headers{
  background: white;
  width: 50%;
  height: 70vh;
  margin-bottom: 200px;
  margin-left: 350px;
  margin-right: 300px;
  margin-top: 100px;
  border-radius: 8px;
  box-shadow: #535d5f;
  box-shadow: 0px 0px 5px rgba(126, 124, 124, 0.5);
}

@keyframes rotateGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

